:root {
    --main_color: #846CAF;
    --main_color2: #272733;
    --p-size: 1.4rem;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--main_color2);
    border-radius: 15px;
    padding: 5px;
}

ul {
    margin-left: 30px;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: var(--p-size);
    font-family: 'Inter', sans-serif;
}

li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

li:hover {
    transform: translate(0px, -3px);
}

a {
    text-decoration: none;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.buttons div,
button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--p-size);
    color: white;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s ease;
}

.buttons div p,
.signup-section button {
    font-size: 1.2rem;
}

#login {
    transition: all 0.5s ease;
    background-color: transparent;
    border: 1px solid rgb(153, 153, 153);
}

#signup,
button {
    background-color: var(--main_color);
}


.buttons div:hover {
    box-shadow: 0px 0px 20px #836caf8c;
}