.cover {
    text-transform: capitalize;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    background-image: url('../src/assets/images/cover.JPG');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: 140%;
    background-position: -250px -400px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
}

.cover:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.header {
    width: 100%;
    color: black;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header p {
    margin: 10px 0px;
    color: rgb(59, 59, 59);
}

.cover h2 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 10px;
}