@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter;
}

.dashboard {
    background-color: #d4d4d4;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: repeat(10, 1fr)/17% 66% 17%;
    overflow: hidden;
}

:root {
    --main_color: #846CAF;
    --main_color2: #272733;

    --p-size: 1.4rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 30%;
}

img {
    width: 100%;
}

.shop {
    grid-area: 2/2/span 10/span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.offers {
    grid-area: 2/3/span 10/span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.offer {
    font-size: 1.2rem;
    color: white;
    width: 290px;
    height: 60px;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    background-color: var(--main_color2);
    transition: all ease 0.4s;
}

.offer:hover {
    background-color: #4d3f66;

    #new-price {
        color: #bb9bf3;
        transform: scale(1.1);
    }
}

.prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#old-price {
    text-decoration: line-through;
    color: gray;
}

#new-price {
    color: var(--main_color);
    transition: all 0.4s;
}

.orchid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 15px;
}

.orchid .title {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: #ffffff79;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px;
    margin-top: 10px;
}

.orchid .info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    width: 25px;
    aspect-ratio: 1;
    font-size: 20px;
}

.orchid img {
    width: 110%;
}

.list {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between
}

.deal {
    width: 290px;
    height: 180px;
    background-color: #aa9dc1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dashboard h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0;
    border: none;
    text-align: left;
    color: black;
    margin: 10px 0px;
}

.dashboard h1 {
    color: var(--main_color) !important;
}

.main {
    align-items: center;
    gap: 30px;
    padding: 15px;
    justify-content: top;
    grid-area: 2/2/span 10/span 1;
    display: flex;
    flex-direction: column;
    border-right: 2px solid;
    height: 100%;
}